{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
<h2 class="cover-heading">Face2Data: extract meaningful information from a person face in less than a second</h2>

<p class="lead">
    <br/>
    Step one: select an image containing the person face, preferably a front shot.<br/>
    Step two: there is no second step :-)
    <br/> <br/>

    <b>Note: The submitted images are not going to be stored in any place, they are only used for generating the
        predictions. You can be sure of this by checking the source code
        of this project on <a class="link" href="https://github.com/rodrigobressan/face2data">GitHub</a>.</b>

    <br/><br/>
    Interested in how it works? Refer to the <a class="link" href="/how_it_works">how it works</a> section.

    <br/><br/>
    <label>
        <input type="file" id="image" accept="image/*" style="display: none;">
        <a class="btn btn-lg btn-secondary">Select image</a>
    </label>
</p>

<div>
    <div class="image_content">
        <img width="250px" src="" alt="" id="imageContainer"/>
    </div>

    <div class="container" id="results">
        <div class="left">
            <div id="race_plot"></div>
        </div>

        <div class="right">
            <div id="gender_plot"></div>
        </div>
    </div>

    <p id="age_text">

</div>

{% endblock %}